/*all*/
* {
    font-family: 'Poppins', sans-serif;
}

/* Home  page css*/
.intro-container {
    background-image: url("https://images.unsplash.com/photo-1658553344052-889351af5e5b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1332&q=80");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding: 7em 2em;
    color: white;
}

.text-slider-items {
    display: none;
}

.carousel-project {
    padding: 2em 0;
    background-color: #edede9;
}

/* .carousel {
    width: 60%;
} */

.carousel .carousel-item {
    height: 28em;
}

/* projects page css */
.project-jumbotron {
    height: 12em;
}

.project-item .caption {
    display: flex;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
}

.project-item .caption .caption-content {
    color: #fff;
    margin: auto 2rem 2rem;
    text-shadow: 0px 0px 20px #000000;
}

/* about page css */
.d-flex {
    padding: 3em 0;
    color: #fff;
}

.d-flex .photo-col {
    padding: 0 2em;
}

.d-flex .profile-photo {
    object-fit: cover;
    width: 11em;
    height: 11em;
}

.list-inline {
    list-style: none;
}

.learn-more {
    background-image: url("https://images.unsplash.com/photo-1532467411038-57680e3dc0f1?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding: 1em 0;
}

.learn-more .row {
    padding: 3em 0;
}

/* my country page css */
.myanmar-container {
    background-image: url("https://images.unsplash.com/photo-1605711217046-d3885ceb5fec?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2072&q=80");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding: 1em 2em;
}

.myanmar-container .align-text-top {
    padding-top: 2em;
}

.myanmar-container h1 {
    display: inline;
}

.myanmar-container .flag {
    height: 3.3em;
    width: 4.3em;
    margin-bottom: 1em;
}

.myanmar-container .myanmar-intro-content {
    text-shadow: 0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px #fff,
        0 0 42px #0fa;
}

/* food page css */
.food-intro {
    background-color: #f1faee;
    padding: 1em 2em;
    border-bottom: 1px solid #a8dadc;

}

.food-container {
    background-color: #6d6875;
}

.food-col {
    margin: 1em;
}

.food-col-first {
    border-right: 1px solid #fff;
}

.food-col-sec {
    border-bottom: 1px solid #fff;
}

.food-col .food-content {
    padding-left: 1.3em;
}

.food-img {
    width: 20%;
}

/*contact page css*/
#contact {
    background-image: url("https://images.unsplash.com/photo-1641243092475-f8c68ea225b9?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=867&q=80");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    color: #fff;
}

.heading-contact {
    text-align: center;
    font-size: 45px;
    border-bottom: 2px dotted #fff;
}

.contact-form {
    background-color: #005f73;
    opacity: 80%;
}

.btnSend {
    width: 50%;
    letter-spacing: 2px;
    transition: all 0.5s ease-in-out;
}

/*gallery page css*/
#gallery-body {
    background-color: rgba(130, 178, 214, .5);
}

.images {
    display: -ms-flexbox;
    /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap;
    /* IE10 */
    flex-wrap: wrap;
    padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
    -ms-flex: 33%;
    /* IE10 */
    flex: 33%;
    max-width: 33%;
    padding: 0 4px;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
    .column {
        -ms-flex: 50%;
        flex: 50%;
        max-width: 50%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
    }

}